<h1>New book</h1>

<form action="/books" method="post">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Family:</label>
  <input type="text" name="family">
  <label>Image:</label>
  <input type="url" name="image">
  <label>Larval plant:</label>
  <select name="book_id">
    <option></option>
    <% Book.all.each do |book| %>
      <option value="<%= book.id %>"><%= book.name %></option>
    <% end %>
  </select>

  <button>Create book</button>
</form>
